<style>
  .logo-image{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      margin-top: -6px;
  }
</style>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
        <div class="logo-image">
              <img src="static/indian-army-logo-157795-1766521.png" class="img-fluid"/>
        </div>
  </a>
<a class="navbar-brand" href="/">Face Recognition</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only"></span></a></li>
  <li class="nav-item active"><a class="nav-link" href="/result">Result<span class="sr-only"></span></a></li>
</ul>
</div>
</nav>
